$black-text: black;
$input_button_font: 15px;

body{
    display: flex;
    justify-content:center ;
  
}

h2 {
    color: $black-text
}

div{
    display: inline-block;
    
    p{
        display: inline;
    }

    input{
        font-size: $input_button_font;
    }

    button{
        font-size: $input_button_font;
    }
}

